.container-spacing {
  margin: 30px auto;
}

.project-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.header-styles {
  background-color: blueviolet;
  color: #fff;
  padding: 1rem;
  padding-left: 3rem;
}

.button-styles {
  background-color: blueviolet;
  color: #fff;
  border: none;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .project-card-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
